:root {
	--bg: #FCFFF2;
	--bg2: #F1F5E6;
	--bg3: #E7EBDD;
	--fg: #898F78;
	--accent: #DD9479;
	--accent2: #A8C100;
}

@font-face {
	font-family: "Yutapon coding Regular";
	src: local("Yutapon coding Regular"), url("assets/Yutapon.woff");
}

html,
body {
	margin: 0;
	padding: 0;
}

html {
	height: 100vh;
}

body {
	font-family: "Yutapon coding Regular";
	font-size: 0.9rem;
	color: var(--fg);
}

p {
    margin: 0;
}

li {
	list-style-position: inside;
}

.date {
	float: right;
}

a.link:hover,
a.list-link:hover {
	text-decoration: underline;
}

a.link {
	color: var(--accent);
	text-decoration: none;
}

a.list-link {
	color: var(--accent2);
	text-decoration: none;
}

a.footer-link {
	color: var(--accent);
	text-decoration: none;
}

.footer-link:hover {
	background-color: var(--bg2);
}

#sticker {
	margin-top: .75rem;
}

#header {
	padding-left: .75rem;
	height: 2.25rem;
	background-color: var(--bg2);
	display: flex;	
	align-items: center;
}

#content {
	padding: .75rem;
}

#footer {
	padding: 0;
	width: 100%;
	display: table;
}

#footer a {
	display: table-cell;
	line-height: 2.25rem;
	text-align: center;
}

#box {
	background: var(--bg);
	min-width: 25%;
	max-width: 50%;
	box-shadow: 4px 4px var(--fg);
	overflow: hidden;
	word-wrap: break-word;
	word-break: break-word;
}

#wrapper {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("assets/wall.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
